body {
    padding: 0;
    margin: 0;
    background-image: url('Assest/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-container {
    width: 80vw;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1vw;
    border-radius: 5px;
}

.card {
    perspective: 1000px;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    transform-style: preserve-3d;
    transition: 0.6s;
    position: relative;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.front {
    font-size: 80px;
    transform: rotateY(180deg);
}

.back {
    background-image: url('Assest/QuestionMark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.flip {
    transform: rotateY(180deg);
}

button {
    background-color: rgb(2, 2, 55);
    padding: 1vw 3vw;
    font-size: 1.5vw;
    font-family: Verdana;
    border-radius: 5px;
    border: none;
    color: #ffff;
}

#message {
    color: #ffff;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {

    .cards-container {
        width: 90vw;
        gap: 2vw;
    }

    .card {
        width: 22%;
        padding-bottom: 22%;
        font-size: 10vw;
    }

    button {
        padding: 2vw 5vw;
        font-size: 3vw;
    }

    #message {
        font-size: 6vw;
    }
}